<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.finwe.orion360.v3.Hello"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_orion_3_0_gold"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.MainMenuActivity"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.MinimalActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.audio.FB360TBEActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.camera.CameraActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.source.SourceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.sharedvar.SharedVariableActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.sprite.SpriteActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.polygon.PolygonActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.keyboard.KeyboardActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.vr3d.VR3DActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        
        <activity 
            android:name="fi.finwe.orion360.sdk.pro.examples.widget.SelectablePointerIconActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
    </application>
</manifest>
