<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.finwe.orion360.sdk.pro.examples">

    <!-- For streaming videos from the network. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For playing videos from local storage / memory card. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- For copying test content to local storage / memory card, saving screenshots. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For accessing device camera (camera example). -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Main menu. -->
        <activity 
            android:name=".MainMenu"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Examples: -->
        <activity
            android:name=".minimal.MinimalVideoStreamPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".minimal.MinimalVideoAdaptiveStreamPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".minimal.MinimalVideoDownloadPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".minimal.MinimalVideoFilePlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".minimal.MinimalVideoControls"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".minimal.MinimalVRVideoFilePlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".minimal.MinimalImageDownloadPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".minimal.MinimalImageFilePlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".appfw.CustomActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".appfw.CustomFragmentActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.MonoPanorama"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.MonoPanoramaVR"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.StereoPanorama"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.StereoPanoramaVR"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.Doughnut"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.RearviewMirror"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.Overview"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.MultipleProjections"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.Blending"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.Layers"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>
        <activity
            android:name=".binding.VideoBall"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"></activity>

        <!-- For playing videos from an (optional) expansion package (.obb) -->
        <provider
            android:name=".ExpansionContentProvider"
            android:authorities="fi.finwe.orion360.sdk.pro.examples.ExpansionContentProvider"
            android:exported="false"
            android:multiprocess="true">
            <meta-data
                android:name="mainVersion"
                android:value="1000001" />
            <meta-data
                android:name="patchVersion"
                android:value="1000001" />
        </provider>

    </application>
</manifest>
